/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2017, 3:45:17 AM
    Author     : lovinadelph
*/
#test{

 background-image: url(VKTPd2M.jpg);
      background-repeat: repeat;
      background-position: left top;
      padding-top:68px;
      margin-bottom:50px;
    
}
#header1{
    color: whitesmoke;
}

#header_help {
    color: white;
}
#uploadstyle{
    padding-top: 10px;
    padding-right: 250px;
    padding-left: 250px;
    padding-bottom: 10px;
    border-style: dashed;
    margin-left: 20%; 
    margin-right: 20%;
 
   
}
#form_style {
    padding-bottom: 30px;
    padding-left: 150px;
}

.decoratedErrorField{
    border:2px solid red;
}

.error {
    color: red;
    font-style: italic;
}

#submit_form{
  
}
